[flake8]
max-line-length = 99
inline-quotes = "
ignore = WPS305, WPS226, S105, WPS323, WPS407, WPS202, WPS301, WPS300,
    WPS430, P101, S101, WPS473, WPS431, WPS214, WPS429, WPS213, WPS212,
    WPS211, WPS528, WPS420, WPS604, WPS210, WPS221, WPS237, WPS229, W503,
    WPS215, WPS100, S311,
exclude =
    .git,
    pycache,
    .venv,
    env,
    venv,
    migrations,
    __init__.py,
    manage.py
